header {
  color: white;
  background-color: black;
  font-family: "Helvetica Neue", Helvet;
  height: 50px;
  text-align: center;
}
h3 {
  font-size: 30px;
}

header h1 {
  vertical-align: middle;
  padding-top: 10px;
}

.container {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 300px;
  margin: 10px;
}
.box-content h3,
.box-content p {
  padding: 15px;
}
